body{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  background-color: #66BFBF;
  color: white;
}
.button{
  background-color: yellow;
  border-radius: 12px;
  padding: 32px 16px;
}
