body{
  margin-left: 100px;
  margin-right: 100px;
  text-align: center;
  background-color: #66BFBF;
  color: white;
  border-bottom: solid 50px #1b2631;
  border-left: solid 50px #1b2631;
  border-right: solid 50px #1b2631;
}
#button{
  background-color: yellow;
  border-radius: 12px;
  padding: 24px 18px;
  margin: 12px 0px;
}
